<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="example.web.infrastructure.datasource.todo.TodoMapper">

    <sql id="selectBase">
        SELECT id
             , title
             , description
             , emergency
             , priority
        FROM todo.todos
    </sql>

    <select id="findAll" resultType="example.web.infrastructure.datasource.todo.dto.TodoDto">
        <include refid="selectBase"/>
    </select>

    <select id="findByTitle" resultType="example.web.infrastructure.datasource.todo.dto.TodoDto">
        <include refid="selectBase"/>
        WHERE title = #{title}
    </select>

    <select id="nextId" resultType="Long">
        SELECT nextval('todo.seq_todo_id') AS id
    </select>

    <select id="insert">
        INSERT INTO todo.todos(id, title, description, emergency, priority)
        VALUES (#{id},
                #{title},
                #{description},
                #{emergency},
                #{priority})
    </select>

</mapper>
