<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="example.web.infrastructure.datasource.todo.TodoMapper">

    <resultMap id="Todo" type="example.web.domain.model.todo.Todo">
        <id property="id" column="Long"/>
        <result property="title" column="title"/>
        <result property="description" column="description"/>
        <result property="emergency" column="emergency"/>
        <result property="priority" column="priority"/>
    </resultMap>

    <sql id="selectBase">
        SELECT id
             , title
             , description
             , emergency
             , priority
        FROM todo.todos
    </sql>

    <select id="findAll" resultMap="Todo">
        <include refid="selectBase"/>
    </select>

    <select id="findByTitle" resultMap="Todo">
        <include refid="selectBase"/>
        WHERE title = #{title}
    </select>

    <select id="nextId" resultType="Long">
        SELECT nextval('todo.seq_todo_id') AS id
    </select>

    <select id="insert">
        INSERT INTO todo.todos(id, title, description, emergency, priority)
        VALUES (#{id},
                #{title.value},
                #{description},
                #{emergency},
                #{priority})
    </select>

</mapper>
