<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
    <title>TODO詳細</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <style>
        div{
            margin-bottom: 1em;
        }
        p {
            margin-top: 0;
            margin-bottom: 0;
        }
        p span {
            white-space: -moz-pre-wrap;
            white-space: -o-pre-wrap;
            white-space: pre-wrap;
        }
    </style>
</head>
<body>
<h1>TODO詳細</h1>

<div id="detail-empty" th:if="${todo == null}">
    指定されたTODOが見つかりません
</div>

<div id="detail" th:if="${todo != null}" th:object="${todo}">

    <div>
        <span>ID：</span>
        <span th:text="*{id}"></span>
    </div>
    <div>
        <p><label>タイトル：</label></p>
        <p><span th:text="*{title}"></span></p>
    </div>
    <div>
        <p><label>説明：</label></p>
        <p><span th:text="*{description}"></span></p>
    </div>
    <div>
        <p><label>緊急：</label></p>
        <p>
            <th:block th:if="*{emergency == true}">はい</th:block>
            <th:block th:if="*{emergency == false}">いいえ</th:block>
        </p>
    </div>
    <div>
        <p><label>優先度：</label></p>
        <p><span th:text="*{priority}"></span></p>
    </div>
</div>

<div id="navi" style="margin-top:30px;">
    <a th:href="@{/todo/list}">戻る</a>
</div>

</body>
</html>